<script src="{{url_for('static', filename='lib/home.js')}}"></script>
<html>
  <head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
  </head><div class="form">
    <body>
      <header>
        <div class="header">
          <img src="{{url_for('static', filename='logo.png')}}" align="middle"  width="60" height="60">        </div>

        <div class="Method1-page">
          <form action = "http://localhost:5000/Verifyinsta" method = "POST">
            <form class="login-form">
            <p class="message">Insert Instagram Handle </p>    
            <input type="text" id="Username" name="Username" placeholder="Insert Instagram Username"/>
            <button>Verify</button>
          </form>
        </div>
      </div>
      </header>
      <footer>
      </footer>

    </body>
</html>

