<html>
  <head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
  </head><div class="form">
    <body>
      <header>
        <img src="{{url_for('static', filename='logo.png')}}" align="middle"  width="60" height="60">
        <h1>Verified Users:</h1>
        <div class="header">
            {% for users in text %}
            <h4>{{ users }}</h4>
          {% endfor %}
          <br>
        <div class="Method1-page">
          <form action = "http://localhost:5000/" method = "GET">
            <form class="login-form">
            <button>Return Back</button>
          </form>
        </div>
      </div>
      </header>
      <footer>
        <form action = "http://localhost:5000/Verified" method = "POST">
          <form class="Remove USer Form">
            <input type="text" id="Username" name="Username" placeholder="Enter Username to Remove from Verified Accounts"/>
          <button>Remove User</button>
        </form>
      </footer>
    </body>
</html>

